* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background: #f6f7fb;
    color: #222;
}

.container {
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}

header {
    background: darkslategray; color: #fff;
}

header .topo{       
    display: flex;
    align-items: center;
    padding: 12px 0;
}


header h1{
    font-size: 18px;
    margin: 0;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}

nav a {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 6px;
    background: rgba(255,255,255,.15);
    text-decoration: none;
}

nav a:hover {
    background: rgba(255,255,255,255);

}

section {
    padding:20px 0;
}

.caixa {
    background: cadetblue;
    border: 1px solid;
}

.grid-2 {
    display: grid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid;
    padding: 10px;
    text-align: left;
}

th {
    background:f3f4f6;
    font-weight: 600;
}

.form {
    display: grid;
}

.form-grid-2 {
    display: grid;
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 0px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #222;
}

button, .btn {
    display: inline;
    padding: 10px 14px;
    border: 0;
    background: LightSlateGray;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

footer {
    color: #555;
    padding: 24px 0;
    
}

